<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
</head>
<div class="wrap login_wrap">
    <div class="content">
        <div class="logo"></div>
        <div class="login_box">
            <div class="login_form">
                <form th:action="@{/stulogin}" method="post">
                    <div></div>

                    <div class="login_title">
                        <h2 class="text-center font-weight-light my-4">student log in</h2>
                    </div>
                    <div class="form_text_ipt">
                        <input name="username" type="text" placeholder="user id">
                    </div>
                    <div class="ececk_warning"><span>user id couldn't be null</span></div>
                    <div class="form_text_ipt">
                        <input name="userpwd" type="password" placeholder="password">
                    </div>
                    <div class="ececk_warning"><span>password couldn't be null</span></div>
                    <div id="nogg" style="text-align: center"><span style="color: red;text-align: center" id="sb"
                            th:text="${session.mag}" /></div>
<!--                    <input type="hidden" id="msg" th:value="${msg}" />-->


                    <div class="form_check_ipt">
                        <div class="left check_left">
                            <label><input name="" type="checkbox"> remember me</label>
                        </div>
                    </div>
                    <div class="form_btn">
                        <button type="submit">log in</button>
                    </div>
                    <div class="form_reg_btn">
                        <span>didn't get an account?</span><a th:href="@{/register}">register now</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a class="btn btn-primary" th:href="@{/toTeacher}">turn to teacher log in</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</body>

</html>